header{
    text-align: center;
}


h1{
    text-align: center;
}
ul{
    display: flex;
    list-style: none;
    font-size: 45px;
}

li{
    padding: 15px;
}


main{
    text-align: center;
    margin-top: 50px;
}

button{
  margin: 50px;
  font-size: 50px;
}